.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: grid;
  gap: 2vh;
  height: 100vh;

  grid-template-areas: 
    "A A A A"
    "C B B B"
    "C B B B"
    "C B B B"
    "C B B B"
    "C B B B"
    "C B B B"
    "C B B B"
    "C B B B"
    "C B B B"
    "C B B B"
    "C B B B";
}

.box-1{
  grid-area: A;
  border: 1px solid green;
  height: 5vh;
}
.box-2{
  grid-area: B;
  border: 1px solid blue;
  width: 78vw;
  height: 93vh;
}
.box-3{
  grid-area: C;
  border: 1px solid red;
  width: 20vw;
  height: 93vh;
}

.VideoInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
}

.VideoInput_input {
  display: none;
}

.VideoInput_video {
  display: block;
  margin: 0;
}

.VideoInput_footer {
  background: #eee;
  width: 100%;
  min-height: 40px;
  line-height: 40px;
  text-align: center;
}

h1 {
  font-size: 200%;
}